.mainContainer {
}

.titlePage {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
}

.image {
  width: 35rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.textBox {
  width: 50%;
}

.title {
  font-size: 10rem;
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.text {
  font-size: 2.2rem;
  color: #fff;
}
