header {
  height: 13.6rem;
  width: 138.5rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo:after {
  content: "";
  width: 47.3rem;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 10rem;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.253);
}

.container {
  height: 9.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigation {
  height: 100%;
  padding: 0 16.5rem 0 12.3rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.navigationIcons {
  list-style-type: none;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerList {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-left: 4.8rem;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  height: 100%;
}

.headerLink {
  color: #fff;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerList:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(201, 201, 201, 0.742);
  transform-origin: center;
  transform: scaleX(0);
}

.headerList:hover:after {
  transform: scaleX(1);
  transition: all 0.8s;
}

.active:after {
  transform: scaleX(1);
  background-color: #fff;
}

.bold {
  font-weight: 700;
  margin-right: 0.5rem;
}
